<% include header %>
<ul>
        <% for(var i=0; i<maps.length; i++) {%>
            <li>
               <a href='/game/<%= game %>/map/<%= maps[i] %>'> <%= maps[i] %></a>
            </li>
            <% } %>
    </ul>
<% include footer %>