<% include header %>

<div class="container">
    <h1>Bienvenue
        <% if(login === true ){ %>
        <%= user.pseudo %>
        <% } %>
        
        </h1>
        <h2>Etape : <%= step.step %> Semaine : <%= step.week %></h2>
            <i class="ohi-ana"></i>
            <i class="ohi-dva"></i>
            <i class="ohi-genji"></i>
            <i class="ohi-hanzo"></i>
            <i class="ohi-junkrat"></i>
            <i class="ohi-lucio"></i>
            <i class="ohi-mccree"></i>
            <i class="ohi-mei"></i>
            <i class="ohi-mercy"></i>
            <i class="ohi-tracer"></i>
</div>


<% include footer %>